.projects {
  margin: 100px auto 40px;
  width: 85%;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
  svg {
    width: 3rem;
    margin: 20px 0 60px;
  }
  .images {
    display: flex;
    justify-content: space-between;
    .firsthalf,
    .secondhalf {
      width: 49%;
      transition: all 0.5s;
      .linkcontainer {
        border: 10px solid #242424;
        background-color: #fff;
        padding: 20px;
        position: relative;
        margin: 10px 0;
        .projectdetails {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition: all 0.5s;
          background-color: rgba(0, 0, 0, 0.8);
          p {
            font-size: 2rem;
            font-weight: 700;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:hover {
          .projectdetails {
            display: flex;
          }
        }
        img {
          width: 100%;
          height: auto;
          border: 2px solid #ccc;
        }
      }
    }
  }
  button {
    background-color: transparent;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #000;
    font-weight: 600;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(101deg, #02ffea, #01ff38);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(7, 4, 50, 0.8) inset;
    margin-top: 20px;
    transition: all 0.5s;
    color: #fff;
    &:hover {
      cursor: pointer;
      box-shadow: none;
    }
  }
}
@media (max-width: 768px) {
  .projects {
    width: 98%;
    margin: 100px auto 20px;
    h1 {
      font-size: 1.9rem;
    }
    svg {
      margin: 10px 0 20px;
    }
    .images {
      flex-direction: column;
      .firsthalf,
      .secondhalf {
        img {
          width: 100%;
          height: auto;
        }
        width: 100%;
      }
    }
  }
}
